@import './variables';
@import './home.scss';
@import './header.scss';
@import './footer.scss';
@import './responsive.scss';

body {
  font-family: $font-family-base;
  color: $text-color;
  background-color: $background-color;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
      background: linear-gradient(75.04deg, #8E43AD 3.69%, #AA387D 23.45%, #D63251 48.76%, #F7352D 74.65%, #FA9B4F 94.55%);

}

.spinner{
    animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}